.DS_STORE
node_modules
package-lock.json

packages/*/es
*.d.ts
*.d.ts.map
*.js
!rollup.config.js
!jest.config.js
!packages/react/.storybook/main.js

lib
tsconfig.tsbuildinfo
.rollup.tscache

yarn-error.log
lerna-debug.log

coverage

packages/add/validators
packages/react/controls
packages/react/layouts
packages/react/common